<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>AllEmployees</title>
</head>
<body>
<h1>显示所有雇员信息</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>部门</th>
        <th>薪水</th>
        <th>点击查看单人信息</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employee}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.age}"></td>
        <td th:text="${employee.depn}"></td>
        <td th:text="${employee.sal}"></td>
        <td><a th:href="@{'Info/'+${employee.id}}" ><button>点击查看</button></a></td>
    </tr>
    </tbody>
</table>
<a th:href="@{'Add/'}" ><button>点击添加雇员信息</button></a>
</body>
</html>