<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>ShowEmployeeInfo</title>
</head>
<body>
    <h1><span th:text="${employee.name}"></span>的雇员信息</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>部门</th>
            <th>薪水</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.age}"></td>
            <td th:text="${employee.depn}"></td>
            <td th:text="${employee.sal}"></td>
        </tr>
        </tbody>
    </table>
    <a href="http://127.0.0.1:8080/employee/All"><button>返回所有雇员信息页面</button></a>
</body>
</html>